
@{
    ViewBag.Title = "修改密码";
}
@using MicBeach.ViewModel.Sys
@model ModifyPasswordViewModel

<div id="pc_body">
    <div id="pcb-inner">
        <div class="form-con" id="home">
            @using (Html.AjaxBeginForm("AdminModifyPassword", "Sys", new AjaxFormOptions() { HttpMethod = "Post", OnSuccess = "ModifySuccessCallback", OnFailure = "ModifyFailedCallback" }, new { id = "formvalide" }))
            {
                @Html.HiddenFor(c=>c.SysNo)
                <table cellpadding="0" cellspacing="0" class="form_table">
                    <tr>
                        <td class="t_r tit" style="width:120px;">* @Html.LabelFor(c => c.NewPassword)</td>
                        <td>
                            @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control w_200" })
                            @Html.DefaultValidationMessageFor(a => a.NewPassword, "", new { @class = "tip prompt" })
                        </td>
                    </tr>
                    <tr>
                        <td class="t_r tit" style="width:120px;">* @Html.LabelFor(c => c.ConfirmNewPassword)</td>
                        <td>
                            @Html.PasswordFor(a => a.ConfirmNewPassword, new { @class = "form-control w_200" })
                            @Html.DefaultValidationMessageFor(a => a.ConfirmNewPassword, "", new { @class = "tip prompt" })
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
<div class="c_foot">
    <div class="form_bottom">
        <button type="button" class="btn btn_blue" onclick="SubmitForm()">提交</button>
    </div>
</div>

<script type="text/javascript">
    //提交表单
    function SubmitForm() {
        $("#formvalide").submit();
    }

    //成功回调
    function ModifySuccessCallback(res) {
        if (!res) {
            return;
        }
        if (res.Success) {
            $("#formvalide")[0].reset();
            art.dialog.opener.ResultMsg(res);
            art.dialog.close(true);
        } else {
            ResultMsg(res);
        }
    }

    //失败回掉
    function ModifyFailedCallback() {
        ErrorMsg('系统错误');
    }
</script>


