
@{
    ViewBag.Title = "修改密码";
}
@using MicBeach.ViewModel.Sys
@model ModifyPasswordViewModel

<div id="pc-body">
    <div id="pc--inner">
        <div class="form-con" id="home">
            @using (Html.AjaxBeginForm("ModifyPassword", "Sys", new AjaxFormOptions() { HttpMethod = "Post", OnSuccess = "ModifySuccessCallback", OnFailure = "ModifyFailedCallback" }, new { id = "formvalide" }))
            {
                <table cellpadding="0" cellspacing="0" class="form_table">
                    <tr>
                        <td class="txt-right tit">* @Html.LabelFor(c => c.NowPassword)</td>
                        <td>
                            @Html.PasswordFor(a => a.NowPassword, new { @class = "form-control w-200" })
                            @Html.DefaultValidationMessageFor(a => a.NowPassword, "", new { @class = "tip prompt" })
                        </td>
                    </tr>
                    <tr>
                        <td class="txt-right tit">* @Html.LabelFor(c => c.NewPassword)</td>
                        <td>
                            @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control w-200" })
                            @Html.DefaultValidationMessageFor(a => a.NewPassword, "", new { @class = "tip prompt" })
                        </td>
                    </tr>
                    <tr>
                        <td class="txt-right tit">* @Html.LabelFor(c => c.ConfirmNewPassword)</td>
                        <td>
                            @Html.PasswordFor(a => a.ConfirmNewPassword, new { @class = "form-control w-200" })
                            @Html.DefaultValidationMessageFor(a => a.ConfirmNewPassword, "", new { @class = "tip prompt" })
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
<div id="pc-foot">
    <div class="txt-right form-submitbtn-con pdr-10">
        <button type="button" class="btn btn-blue" onclick="SubmitForm()">提交</button>
    </div>
</div>

<script type="text/javascript">
    //提交表单
    function SubmitForm() {
        $("#formvalide").submit();
    }

    //成功回调
    function ModifySuccessCallback(res) {
        if (!res) {
            return;
        }
        if (res.Success) {
            $("#formvalide")[0].reset();
        }
        ResultMsg(res);
    }

    //失败回掉
    function ModifyFailedCallback() {
        ErrorMsg('系统错误');
    }
</script>

